/* Place CSS styles here */

/*FONTS*/
.caprasimo-regular {
  font-family: "Caprasimo", serif;
  font-weight: 400;
  font-style: normal;
}
.tenor-sans-regular {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.urbanist {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}    
html{
  scroll-behavior: smooth;
}
body{
  background-color: #f7f3f0;
	font-family: "Tenor Sans", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	color: #1b1b1b;
}
main{
	margin: 20px 40px;
}
h1{
	font-family: "Caprasimo", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 28px;
	color: #1b1b1b;
	text-align: center;
}
h2{
	font-family: "Caprasimo", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 22px;
	color: #1b1b1b;
}
h3{
	font-family: "Caprasimo", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 18px;
	color: #1b1b1b;
}
h4{
	font-family: "Tenor Sans", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	color: #1b1b1b;
}
@media (min-width: 768px) {
	body{
		font-size:16px;
	}
	main{
		margin: 60px 160px;
	}
	h1{
		font-size: 32px;
	}
	h2{
		font-size: 26px;
	}
	h3{
		font-size: 22px;
	}
	h4{
		font-size: 20px;
	}
}
/*HEADER*/



/*NAV*/
.logo {
  display: none;
}
.offcanvas-nav {
  position: relative;
}
.menu {
  position: fixed;
  top: 68px;
  right: 0;
  height: 100%;
  width: 150px;
  background-color: #f7f3f0;
  box-shadow: 0px 0px 5px #1b1b1b;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  display:flex;
  flex-direction: column;
  gap: 10px;
  padding:20px;
}
.menu.expanded {
  transform: translateX(0);
}
.menu-toggle {
  display: inline-block;
  cursor: pointer;
  border: none;
  position:fixed;
  top:15px;
  right:8px;
	background-color: transparent;
}
.bar1, .bar2, .bar3 {
  width: 20px;
  height: 2px;
  background-color: #1b1b1b;
  margin: 6px 0;
  transition: 0.4s;
}
.change .bar1 {
  transform: translate(0, 8px) rotate(-45deg);
}
.change .bar2 {
  opacity: 0;
}
.change .bar3 {
  transform: translate(0, -8px) rotate(45deg);
}
@media (min-width: 768px) {
  .menu {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    position: static;
    width: auto;
    transform: none;
    background-color: #f7f3f0;
    border-bottom: solid 1px #1b1b1b;
    box-shadow: none;
		padding: 20px 60px;
  }
  .menu-toggle {
    display: none;
  }
	.logo{
		display: flex;
		max-width: 80px;
		padding-bottom: 4px;
	}
	/* Underline From Center */
	.menu a:hover, .menu a:focus, .menu a:active {
		display: inline-block;
		vertical-align: middle;
		transform: perspective(1px) translateZ(0);
		position: relative;
		overflow: hidden;
	}
	.menu a:before {
		content: "";
		position: absolute;
		z-index: -1;
		left: 51%;
		right: 51%;
		bottom: 0;
		background: #1b1b1b;
		height: 1px;
		transition-property: left, right;
		transition-duration: 0.2s;
		transition-timing-function: ease-out;
	}
	.menu a:hover:before, .menu a:focus:before, .menu a:active:before {
		left: 0;
		right: 0;
	}
}
.menu a{
	font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
	font-size: 16px;
	color: #1b1b1b;
	text-decoration: none;
}

/* WORK */

.portfolio-nav{
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	row-gap: 20px;
	text-align: center;
	margin: 20px 120px;
}
.portfolio-nav a{
	font-family: "Caprasimo", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	color: #1b1b1b;
	text-decoration: none;
}
@media (min-width: 768px) {
	.portfolio-nav{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		gap: 20px;
	}
	.portfolio-nav a{
		font-size: 20px;
	}
}

.fryr{
background-color: #ffa26e;
padding: 60px;
border: solid 1px #1b1b1b;
display: inline-block;
vertical-align: middle;
transform: perspective(1px) translateZ(0);
box-shadow: 0 0 1px rgba(0, 0, 0, 0);
transition-duration: 0.3s;
transition-property: transform;
}
.fryr:hover, .fryr:focus, .fryr:active {
  transform: scale(1.1);
}
.soyr{
background-color: #f9c863;
padding: 60px;
border: solid 1px #1b1b1b;
display: inline-block;
vertical-align: middle;
transform: perspective(1px) translateZ(0);
box-shadow: 0 0 1px rgba(0, 0, 0, 0);
transition-duration: 0.3s;
transition-property: transform;
}
.soyr:hover, .soyr:focus, .soyr:active {
  transform: scale(1.1);
}
.dg-banners{
background-color: #ffabc1;
padding: 60px;
border: solid 1px #1b1b1b;
display: inline-block;
vertical-align: middle;
transform: perspective(1px) translateZ(0);
box-shadow: 0 0 1px rgba(0, 0, 0, 0);
transition-duration: 0.3s;
transition-property: transform;
}
.dg-banners:hover, .dg-banners:focus, .dg-banners:active {
  transform: scale(1.1);
}
.personal-projects{
background-color: #70d3c2;
padding: 60px;
border: solid 1px #1b1b1b;
display: inline-block;
vertical-align: middle;
transform: perspective(1px) translateZ(0);
box-shadow: 0 0 1px rgba(0, 0, 0, 0);
transition-duration: 0.3s;
transition-property: transform;
}
.personal-projects:hover, .personal-projects:focus, .personal-projects:active {
  transform: scale(1.1);
}

/* PROJECTS */

.piece{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: solid 1px #1b1b1b;
	max-width: 300px;
	padding:20px;
	text-align: center;
}
.piece img{
	max-width: 200px;
}
.piece a{
	font-family: "Tenor Sans", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	color: #1b1b1b;
	text-decoration: none;
}
.list{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap : 20px;
}
@media (min-width: 768px) {
	.list{
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	.piece img{
		max-width: 250px;
	}
	.piece a{
		font-size: 16px;
	}
}